<h1>Contact Us</h1>

<div class="row-fluid">
  <div class="span6"><!-- second column starts -->



<p>Please fill out the form below and we'll get back to you as soon as possible.</p>
 
<%= render 'form', :inquiry => @inquiry %>

</div><!-- second column ends -->
</div>
</div><!-- first row ends --> 