<% provide(:title, "Contact us") %>
<h1> Contact Us</h1>


<div class="row">
	<div class="span6 offset3">
		<p>Please fill out the form below and we'll get back to you as soon as possible.</p>
 
<%= render 'form', :inquiry => @inquiry %>
	</div>
</div>