<h1>Thank you!</h1>

<div class="row-fluid">
  <div class="span6"><!-- second column starts -->



<p>Your inquiry has been sent and we will get in touch with you soon.</p>
 


</div><!-- second column ends -->
</div>
</div><!-- first row ends --> 