<h1>Info#contact</h1>

<div class="row-fluid">
  <div class="span6"><!-- second column starts -->
<h2 class="slogans">Placeholder form</h2>
<form class="form-horizontal yourco-form">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <div class="btn-group">
      <button type="submit" class="btn btn-large btn-primary">xxxx</button>
      <button type="submit" class="btn btn-large btn-info">xxxxxx</button>
  </div>
    </div>
  </div>
</form>
</div><!-- second column ends -->
</div>
</div><!-- first row ends --> 