
      <div class="container-fluid"><!--container starts -->
   <div class="row-fluid"><!-- first row starts -->
<div class="span6"><!-- first column starts -->
<div class="hero-unit  pull-left">
 <h2>Begin!</h2>
        <p>Find a ride/post a ride for your charity or cause!</p>
        <p><a class="btn btn-primary">Explore &raquo;</a></p>

 
 </div>
</div><!-- first column ends -->
<div class="row-fluid">
  <div class="span6"><!-- second column starts -->
<h2 class="slogans">Start Your Journey!</h2>
<form class="form-horizontal yourco-form">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <div class="btn-group">
          <%= link_to "Sign In", signup_path, class: "btn btn-large btn-info" %>
        <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-info" %>

  </div>
    </div>
  </div>
</form>
</div><!-- second column ends -->
</div>
</div><!-- first row ends --> 

      
 <div class="row-fluid"><!--second row starts -->
<div class="span12">
<hr>
<h1 class="slogans">Find A Bike Ride to Rally for Your Favorite Cause!</h1>
</div>
</div><!--second row ends -->
<div class="row-fluid"><!--third row starts -->
<div class="span6 text-center">
<span class="circular">
<%= link_to image_tag("tdf_cobbles640x427.jpg", alt: "Tour De France Cobbles") %></span>
  </div>
<div class="span6">
<h2>Find a Bike Ride, Add a Bike Ride.</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus.</p>

</div>
</div><!--third row ends -->
<div class="row-fluid feature-desc"><!--fourth row starts -->
<div class="span12">
<h2 class="slogans">Find Rides here</h2>
<h3 class="slogans-light">Newest and Most Popular</h3>
</div>
<div class="row-fluid feature-list">
<div class="span6">
	    <h2>Newest Rides</h2>
<ul>
<li><i class="icon-ok"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li><i class="icon-ok"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li><i class="icon-ok"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li><i class="icon-ok"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li><i class="icon-ok"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
</ul>
 <div class="btn-group">
      <button type="submit" class="btn btn-large btn-primary">Add a Ride</button>
      <button type="submit" class="btn btn-large btn-info">Find a Ride</button>
  </div>
</div>
<div class="span6">
	 <h2>Most Popular</h2>
<ul>
<li><i class="icon-eye-open"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li><i class="icon-eye-open"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li><i class="icon-eye-open"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li><i class="icon-eye-open"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li><i class="icon-eye-open"></i>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
</ul>
</div>
</div>
</div><!--fourth row ends -->
</div><!--container ends -->

      
     